@charset "ISO-8859-1";

.custom-navbar-bg{
	background: #1de9b6 !important;
}

body{
	background: #000a12;
	color: #ffffff;
}

.form-head{
	background: #1de9b6 !important;
	color: #000a12 !important;
}

.form-border{
	border-color: #1de9b6 !important;
}

.admin .card{
	border: 5px solid #1de9b6;
}

.admin .card:hover{
	background: #1de9b6 !important;
	cursor: pointer;
}

